$color__header-1:rgba(126,213,111,1);
$color__header-2:rgba(40, 180, 133,1);

$section__color:#f7f7f7;
$color__black:rgb(0, 0, 0);
$color__button-2:#55c57a; 

$color__nat-5-l:#ffb900;
$color__nat-5-d:#ff7730;
$color__nat-6-l:#7ed56f;
$color__nat-6-d:#28b485;
$color__nat-7-l:#2998ff;
$color__nat-7-d:#5643fa;

$footer__back:#333;
$footer__color:#f7f7f7;


$grid__width:114rem;
$grid__width-min:50rem;
