.section-4 {
    padding: 6rem 0;
    color: white;
}

.s4 {
    &__p {
        font-size: 8rem;
        font-weight: 500;
        margin-bottom: 4rem;
        &>.fa {
            margin-right: 1rem;
            font-weight: 600;
            font-size: 5rem;
        }
    }
    &__p-2 {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.col-3 {
    text-align: center;
    padding: 8rem 0;
    background: $header__back;
    &1 {
        background: $nav__back-1;
    }
}